extends layout

block content
	form(action='/users/uploads/',method='post',ENCTYPE='multipart/form-data')
		h1='百度地图地址查询（仅限物流部门使用）'
		h2='请上传包含起点和终点的Excel：第一列为起点，第二列为终点'
		br
		input(type='file',name='myfile',required='true')
		h3='起点是否包含终点，比如 起点：河北，终点：石家庄，即存在包含关系（这个很重要，包含的话查询算法会有所不同）'
		label 是:
			input(type='radio',name='type',value='1')
		label 否:
			input(type='radio',name='type',value='0' checked='checked')
		br
		br
		button
			上传
